* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  border-bottom: thin solid;
  background-color: firebrick;
  position: fixed;
}

header a {
  margin: 1rem;
}

main {
  flex: 1;
  display: flex;
  flex-flow: column;
  width: 50%;
  margin: 5.5rem auto 1rem;
}

main section {
  display: flex;
  margin: 1rem 0 1rem;
}

#about, #contact {
  min-height: 10rem;
  flex: 0 0 10%;
}

.narrow {
  flex: 0 0 20%;
  border-right: 0.2rem solid gray;
  text-align: end;
  padding: 1rem;
  margin-right: 1rem;
}

.wide {
  flex: 1 0 80%;
}

#work .wide {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.imgItem {
  min-width: 400px;
  min-height: 300px;
  flex: 0 0 50%;
  text-align: center;
  margin: 0.5rem 0 0;
}

.imgLarge {
  flex: 1 0 100%;
  margin-top: 0;
}

footer h6 {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
}
