* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7rem;
  border-bottom: thin solid;
  background-color: firebrick;
}

header a {
  margin: 1rem;
}

main {
  display: flex;
  flex-flow: column;
  width: 50%;
  margin: auto;
  border: thin solid red;
  flex: 1;
}

main section {
  display: flex;
  border: thin solid;
}

main section h2 {
  margin: 1rem;
  border: thin solid;
}

main section p {
  padding: 1rem;
  border: thin solid;
}

.imgBox {
	display: flex;
  flex-wrap: wrap;
}

.imgItem {
  background-color: silver;
  flex: 0 0 50%;
  border: thin solid;
}

.imgLarge {
  flex: 0 0 100%;
}

.imgLabel {
  font-size: 2rem;
  padding: 6rem 0 0 0.5rem;
}

main section a {
  margin: 0 1rem 0;
}

#contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
