* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-bottom: thin solid;
}

header p {
  margin: 1rem;
}

header a {
  margin: 1rem;
}

main {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: auto;
}

main section {
  display: flex;
  flex-flow: row;
  margin: 5rem;
}

main section p {
  margin-right: 3rem;
}

.imgBox {
  display: flex;
  flex-flow: row wrap;
}

.imgLarge {
  height: 600px;
  width: 300px;
  border: thin solid;
}

.imgMedium {
  height: 300px;
  width: 300px;
  border: thin solid;
}